<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
<li>List popular languages for Data Science</li>
<li>List popular libraries for Data Science</li>
<li>List popular tools for Data Science</li>
</ul>

Some of the popular languages that Data Scientists use are:
    <ol>
        <li>Python</li>
        <li>R</li>
        <li>SQL</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:
    <ol>
        <li>Pandas</li>
        <li>Matplotlib</li>
        <li>Scrapy</li>
        <li>TensorFlow</li>
    </ol>

<table>
<tr>
<th>Data Science Tools</th>
</tr>
<tr>
<td>RStudio</td>
</tr>
<tr>
<td>Apache Hadoop</td>
</tr>
<tr>
<td>Apache Spark</td>
</tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Dario Zivko